@media (min-width: 1200px) {
  .nav-links {
    gap: 3rem;
  }

  .section-container {
    margin: 0 15rem; /* Increase the side margins */
  }

  .education-container {
    width: 900px; /* Wider layout for education section */
    left: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    height: 15vh;
  }

  .nav-links {
    gap: 2.5rem;
  }

  .section-container {
    margin: 0 5rem; /* Decrease the side margins for less wide screens */
  }

  .education-container {
    width: 100%; /* Make education container full width */
    left: 0; /* Center the container */
    padding: 2rem;
  }

  .details {
    margin-bottom: 1rem; /* Add some spacing below each education detail section */
  }
}

@media (max-width: 767px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  .nav-links,
  .menu-links {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .logo {
    margin-left: 0; /* Align logo in the center for mobile */
  }

  .section-container {
    margin: 0 2rem; /* Reduce margin for small screens */
  }

  .education-container {
    left: 0; /* Align education container in the center */
    width: calc(100% - 4rem); /* Allow some padding */
  }

  .education-details {
    flex-direction: column; /* Stack education details vertically */
  }

  .details,
  .gpa {
    text-align: center;
    margin: 1rem 0;
  }

  .dp {
    margin-left: 0; /* Center display picture */
  }
}
